<div class="mainwrapper mainwrapperleft ">
  <div class="mainwrapper-inner container-inner">
    <div id="detailpost-125262" class="postdetails singulardetailcontents post-125262 page type-page status-publish hentry no_thumbnail">
      <article id="post-125262" class="detailarticlecontainer"><header class="postdetail-header hidepostmeta">
        <h1 class="post-title">Returns &amp; Refunds Policy</h1>
      </header>
        <div class="post-content">
          <p>If your product arrives damaged or is not working, you can return it to us within 3 days after delivery or 30 days after shipment in case the delivery date is not traceable. If your order has been shipped to Brazil or Russia, you can send it back to us within 40 days after shipment. You will receive an e-mail containing the shipment date and other details of your order after it has been shipped. Some products have different policies or requirements associated with them.</p>
          <p>If the item is still within the validity period of this warranty:</p>
          <p>We will reimburse you for the return shipping fees after the defective item has arrived in our warehouse. Any further costs incurred during the return process will be at the customer&rsquo;s expense.</p>
          <p>If the item is outside the validity period of this warranty:<br />The customer shall be held responsible for all the shipping fees and charges when returning the defective product.</p>
          <p><strong>Return a DOA (dead on arrival) item&nbsp;</strong></p>
          <p>If the item arrived broken, please&nbsp;<strong>contact us</strong>&nbsp;within 3 days from the delivery date and follow the procedure for the 3 Days Product Guarantee.</p>
          <p>If the item has a high value, we may ask you to return it. Please include all of its accessories, like cables, chargers, batteries, in the returned parcel. If an accessory or component is missing, we will ask you to pay for it. All the return shipping fees will be covered by us.</p>
          <p><strong>Return a defective item&nbsp;</strong></p>
          <p>We will do our best to ensure that the products shipped to our customers are in their best conditions. If your product turns out to be defective, please provide us with the following proofs:</p>
          <p>&ndash; This clause does not include products of a category with specific warranty terms as well as damages caused by incorrect usage of a product.</p>
          <ul>
            <li>Photos of the front and the back of the package or box;</li>
            <li>Partial shipment slips (if applicable);</li>
            <li>Photo or video of the defective item;</li>
            <li>Photo or video and a detailed description of the problem;</li>
          </ul>
          <p><strong>Within 90 days (from the date of shipment)</strong></p>
          <p>Upon being returned, the defective item will be refunded or replaced for free. Return shipping fee reimbursement is 35% of the item&rsquo;s price up to a maximum of $40.<br />If the products malfunctions (except for reasons caused by incorrect usage and accidental or intentional damage) within 90 days after shipment, you can return the product back to us. You should receive an e-mail with the shipment date and other details after your order has been shipped. Once we receive and approve the return a full refund or replacement will be offered and a shipping cost reimbursement will be issued when you provide us with a receipt of the shipping charges you paid to send it back to us (the tracking number of the return package or a screenshot of the shipping receipt).</p>
          <p>The return shipping fee should be less than 35% of the defective item(s) value, and also less than $40(USD). We will cover the actual postage (according to the receipt you provided). If the return shipping fee exceeds the limit above, please contact our customer service for a further confirmation.</p>
          <p><strong>After 90 days and within 180 days from shipment</strong></p>
          <p>After receiving the defective item, we will forward it to our repair center. The shipping fees both ways will be covered by Dolaxstore.com.</p>
          <p>If the item stops working after 90 days from its shipment, you can still return it and we will forward it to the manufacturer for a repair or a replacement. We can arrange a refund or a free replacement.</p>
          <p>The reimbursement of the return shipping fees will cover 35% of the price of the item up to a maximum cost of $40. We will notify you by e-mail of any expected repair costs.</p>
          <p><strong>After 180 days from shipment</strong></p>
          <p>We will not accept requests for a refund or a replacement after 180 days from shipment.</p>
          <p>Please&nbsp;<strong>contact</strong>&nbsp;our customer service representatives for more information.</p>
          <p><strong>Return incorrect item received</strong><br />If the item you have received differs completely from the one you ordered, please do not hesitate to&nbsp;<strong>contact</strong>&nbsp;our customer service and to provide us with the following proofs:</p>
          <ul>
            <li>Photos&nbsp;or a video&nbsp;of&nbsp;the&nbsp;incorrect&nbsp;item;</li>
            <li>Photos or a video showing&nbsp;the problem occurred with this product;</li>
          </ul>
          <p>Because different batches of the products are supplied, the item logo or packaging you received may vary from the one displayed on our website. If all the functions and appearance of the product prove to be correct, please understand that this case will not be included in this policy. If a return is necessary, replacement plus shipping cost reimbursement will be issued to you once you send us a return shipping receipt showing how much you paid to return it. Please be sure that the incorrect item you return is in the original package and the merchandise is in the same condition you received it in. For the incorrect item, if you are able to find a use of it and prefer to keep it, you may suggest that to us and we will offer you a certain discount for buying it.</p>
          <p><strong>Return unsatisfactory products</strong></p>
          <p>If you are not satisfied with your purchase, you can return a product within 3 days after delivery to receive a replacement or a refund of its price minus the shipping fees. If the return is not a result of our error, customers will be required to cover shipping cost both ways.</p>
          <p>Please ensure to return the item with its original packaging and accessories in the same condition as when you received it.</p>
          <p><strong>How&nbsp;can I return&nbsp;</strong><strong>the&nbsp;defective&nbsp;item&nbsp;</strong><strong>to&nbsp;Dolaxstore.com?</strong></p>
          <p><em><strong>Please&nbsp;contact us&nbsp;before returning a defective item in order to receive the return shipping address and other instructions.</strong></em></p>
          <p><strong>Refunds (if applicable)</strong></p>
          <p>Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.<br />If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within about 1 &ndash; 3 business days.</p>
          <p><strong>Late or missing refunds (if applicable)</strong></p>
          <p>If you haven&rsquo;t received a refund yet, first check your bank account again.<br />Then contact your credit card company, it may take some time before your refund is officially posted.<br />Next contact your bank. There is often some processing time before a refund is posted.<br />If you&rsquo;ve done all of this and you still have not received your refund yet, please contact us at contact@dolax.com</p>
          <p><strong>Sale items (if applicable)</strong></p>
          <p>Only regular priced items may be refunded, unfortunately sale items cannot be refunded.</p>
          <p><strong>Exchanges (if applicable)</strong></p>
          <p>We only replace items if they are defective or damaged. If you need to exchange it for the same item, send us an email at&nbsp;info@dolax.com and send your item to: 3501 Jack Northrop Ave, Suite #VZ605, Hawthorne, CA 90250<br />Gifts<br />If the item was marked as a gift when purchased and shipped directly to you, you&rsquo;ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.</p>
          <p>If the item wasn&rsquo;t marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will find out about your return.</p>
          <p><strong>Important&nbsp;Notes</strong></p>
          <p>Below are some further suggestions and important reminders:</p>
          <p>&ndash; Keep all the packaging materials and shipping notes, which may be necessary for processing your return request;</p>
          <p>&ndash; After mailing back the product, please send us the tracking number and a copy of the shipping receipt; if we can not receive this information, we will have to wait until when the product arrives in our warehouse.</p>
          <p>&ndash; Refunds will be arranged to the same payment method you used to place this order. All the intermediary handling fees and bank processing fees will be at the customer&rsquo;s expense;</p>
          <p>&ndash; You can refuse to sign for a package if you notice it is broken or open. Accepting a broken or damaged package can affect your return request;</p>
          <p>&ndash; If you want to avoid paying high import duties on the return package, please avoid selecting an express mail service like DHL, UPS, TNT, FedEx, and similar ones;</p>
          <p>&ndash; We can arrange a refund or a replacement of the product after receiving the defective item;</p>
          <p>&ndash; Please place a note inside the return package by including the following details (this will accelerate your return request):</p>
          <ul>
            <li>your order number;</li>
            <li>the product ID or name and the quantity;</li>
            <li>a short description of the problem occurred with this product;</li>
          </ul>
          <h4><strong>Return Request:</strong></h4>
          <p>If you want to return your item to use. Please contact us at:</p>
          <ul>
            <li><strong>Email:</strong>&nbsp;support@dolax.com</li>
            <li><a href="">Contact US&nbsp;Form</a></li>
          </ul>
          <p><em><strong>We will provide for you detail warehouse address of your product for return. You need to send your product to this address and provide us the tracking number. After we receive your address, We will process the refund to you.</strong></em></p>
          <p><strong>Dolaxstore.com</strong> reserves the right to make changes and/or improvements to this policy. Any changes will be updated on the forum or on the relevant section of our help center.</p>
        </div>
        <footer class="entry-footer clearfix"></footer></article>
    </div>
  </div>
</div>