<!-- NAVIGATION -->
<div id="navigation">
  <!-- container -->
  <div class="container">
    <div id="responsive-nav">
      <!-- category nav -->
      <div class="category-nav show-on-click">
        <%= link_to spree.root_path, class: 'text-uppercase' do %>
          <span class="category-header">Dolax</span>
        <% end %>
      </div>
      <!-- /category nav -->

      <!-- menu nav -->
      <div class="menu-nav">
      </div>
      <!-- menu nav -->
    </div>
  </div>
  <!-- /container -->
</div>
<!-- /NAVIGATION -->