<!-- NAVIGATION -->
<div id="navigation">
  <!-- container -->
  <div class="container">
    <div id="responsive-nav">
      <!-- category nav -->
      <div class="category-nav">
        <span class="category-header text-uppercase">Dolax</span>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>
<!-- /NAVIGATION -->